<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
       <img inactive src="assets/images/home.png"/>
       <img active src="assets/images/home-1.png"/>
    </ion-tab-button>
    <ion-tab-button tab="store">
      <img inactive src="assets/images/store.png"/>
      <img active src="assets/images/store-1.png"/>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <img inactive src="assets/images/search.png"/>
      <img active src="assets/images/search-1.png"/>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <img inactive src="assets/images/profile.png"/>
      <img active src="assets/images/profile-1.png"/>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
