<!--ion-header>
  <ion-toolbar>
    <ion-title>resetpassword</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content class="ion-padding">
  <ion-text resethead class="ion-text-center">
    <h1>Reset Password</h1>
    <p>Enter your new password to reset it!!</p>
</ion-text>
<ion-item lines="none" class="ion-no-padding" detail="false">
  <ion-label position="stacked">New Password</ion-label>
  <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Enter new password" [(ngModel)]="pwd"></ion-input>
  <ion-icon end_icon slot="end" [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" (click)="showHide()"></ion-icon>
</ion-item>
<ion-item lines="none" class="ion-no-padding" detail="false">
  <ion-label position="stacked">Confirm Password</ion-label>
  <ion-input [type]="showPassword1 ? 'text' : 'password'" placeholder="Confirm new password" [(ngModel)]="pwd1"></ion-input>
  <ion-icon end_icon slot="end" [name]="showPassword1 ? 'eye-outline' : 'eye-off-outline'" (click)="showHide1()"></ion-icon>
</ion-item>
</ion-content>
<ion-footer>
  <ion-button shape="round" size="full" routerLink="/login">
    Reset Password
  </ion-button>
  <ion-text>
    <p class="ion-text-center">Back to <a href="javascript:void(0)" routerLink="/forgotpassword">Forgot password?</a></p>
  </ion-text>
</ion-footer>