<ion-header mode="md">
  <ion-toolbar>
    <ion-back-button slot="start" defaullHref="/tabs/profile"></ion-back-button>
    <ion-title>
      Profile Settings
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item lines="none" class="ion-no-padding" detail="false">
    <ion-label position="stacked">Name</ion-label>
    <ion-input type="text" placeholder="Enter your name" value="Andrew Ainsley"></ion-input>
  </ion-item>
  <ion-item lines="none" class="ion-no-padding" detail="false">
    <ion-label position="stacked">Email Address</ion-label>
    <ion-input type="email" placeholder="Enter your email address" value="andrew_ainsley@gmail.com"></ion-input>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button shape="round" size="full">
    Update
  </ion-button>
</ion-footer>