[forgothead]
{ 
    h1{
        color:var(--ion-color-black);
        font-size:28px;
        font-weight:600;
        margin:20px 0 5px;
    }
    p{
        color:var(--ion-color-dark);
        font-size:12px;
        font-weight:500;
        margin:0 0 40px;
        
    }
}
ion-item{
    --inner-padding-end:0px;
    margin-bottom: 20px;
    ion-label{
        transform: initial;
        font-size: 13px;
        color:var(--ion-color-dark);
        font-weight:500;
        margin-bottom: 7px;
    }
    ion-input{
        border:1px solid var( --ion-color-grey);
        border-radius: 50px;
        font-size: 13px;
        color:var(--ion-color-black);
        font-weight:500;
        --placeholder-color: #A89F9F;
        --padding-start: 15px;
        --padding-end: 15px;
        --padding-top: 9px;
        --padding-bottom: 9px;

    }
}
ion-footer
{
    &:before{
        display: none;
    }
    padding-left:16px;
    padding-right:16px;
    ion-button{
        text-transform: capitalize;
        --box-shadow: none;
        --border-width: 1px;
        font-size: 15px;
        font-weight: 600;
        height: 39px;
        margin-bottom: 20px;
    }
    ion-text{
        p{
            font-size: 13px;
            color:#9D9393;
            a{
                text-decoration: none;
                color:var(--ion-color-primary);
                font-weight: 600;
            }
        }
    }
}