<!--ion-header>
  <ion-toolbar>
    <ion-title>forgotpassword</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content class="ion-padding">
  <ion-text forgothead class="ion-text-center">
    <h1>Forgot your password?</h1>
    <p>You will receive an OTP to set new password via email.</p>
</ion-text>
<ion-item lines="none" class="ion-no-padding" detail="false">
  <ion-label position="stacked">Email Address</ion-label>
  <ion-input type="email" placeholder="Enter your email id"></ion-input>
</ion-item>
</ion-content>
<ion-footer>
  <ion-button shape="round" size="full" routerLink="/otp">
    Send
  </ion-button>
  <ion-text>
    <p class="ion-text-center">Already have an account? <a href="javascript:void(0)" routerLink="/login">Login</a></p>
  </ion-text>
</ion-footer>
