<!--ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content class="ion-padding">
  <ion-text signuphead class="ion-text-center">
    <h1>Create Account</h1>
    <p>Enter the below information to create your account.</p>
</ion-text>
<ion-item lines="none" class="ion-no-padding" detail="false">
  <ion-label position="stacked">Name</ion-label>
  <ion-input type="text" placeholder="Enter your name" value="Rodgence"></ion-input>
</ion-item>
<ion-item lines="none" class="ion-no-padding" detail="false">
  <ion-label position="stacked">Email Address</ion-label>
  <ion-input type="email" placeholder="Enter your email" value="rodgence@yahoo.com"></ion-input>
</ion-item>
<ion-item lines="none" class="ion-no-padding" detail="false">
  <ion-label position="stacked">Password</ion-label>
  <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password" [(ngModel)]="pwd"></ion-input>
  <ion-icon end_icon slot="end" [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" (click)="showHide()"></ion-icon>
</ion-item>
<ion-row checkbox-forgotpwd class="ion-align-items-center">
  <ion-col class="ion-no-padding" size="12">
    <ion-item lines="none" class="ion-no-padding"  detail="false">
      <ion-label>I agree to the terms and conditions</ion-label>
      <ion-checkbox class="ion-no-margin" slot="start"></ion-checkbox>
    </ion-item>
  </ion-col>
 </ion-row>
 <ion-button shape="round" size="full" routerLink="/tabs/home">
  Sign Up
</ion-button>
</ion-content>
<ion-footer>
  <ion-text>
    <p class="ion-text-center">Already have an account? <a routerLink="/login" href="javascript:void(0)">Log In</a></p>
  </ion-text>
</ion-footer>